@font-face {
  font-family: 'Lyon Text Regular';
  src: 
  url('../fonts/lyon-text-regular.woff2') format('woff2'),
  url('../fonts/lyon-text-regular.woff') format('woff'),
  url('../fonts/lyon-text-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gallery';
  src: 
  url('../fonts/gallery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}