---
layout: compress
---

<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">

<!-- Head -->
{% include site/head.html %}
<!-- End Head -->

<body class="{{page.layout | slugify}}">


{% if page.layout == "home" %}
<div class="grid-y align-center loader hide">
  <div class="shrink cell">
    {% include site/loading.html %}
  </div>
</div>
{% endif %}

<!-- Header -->
{% include site/header.html %}
<!-- End Header -->

<!-- Main -->
<main id="swup-body">
  {{content}}
</main>
<!-- Main -->

<!-- Navigation -->
{% include reveal/navigation.html %}
<!-- End Navigation -->

</body>

</html>