---
layout: default
---

<!-- Test 01 -->
<!--
<div class="gallery grid-x">
  {% for picture in page.images %}
   {% if picture.aspect-ratio == "7-5" %}
   <div class="gallery-item">
   {% assign image = picture.image %}
   <div class="image--7-5" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}"></div>
   </div>
   {% elsif picture.aspect-ratio == "5-7" %}
   <div class="gallery-item">
   {% assign image = picture.image %}
   <div class="image--5-7" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}"></div>
   </div>
   {% endif %}
  {% endfor %}
</div>
-->
<!-- End Test 01 -->

<!-- Test 02 -->
<!--
<div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2">

  {% for picture in page.images %}

   {% if picture.aspect-ratio == "7-5" %}
   <div class="cell align-self-top">

   <div class="grid-x align-right">
    <div class="small-12 medium-6 cell">
     {% assign image = picture.image %}
     <div class="image--7-5" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}"></div>
    </div>
   </div>

   </div>
   {% elsif picture.aspect-ratio == "5-7" %}
   <div class="cell">
   {% assign image = picture.image %}
   <div class="image--5-7" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}"></div>
   </div>
   {% endif %}
  {% endfor %}
</div>
-->
<!-- Test 02 -->

<!-- Test 03 -->
<!--
<div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-1">

{% for picture in page.images %}
<div class="cell">
  {% case picture.aspect-ratio %}
    {% when '1-1' %}
       1-1
    {% when '5-4' %}
       5-4
    {% when '5-7' %}
     {% assign image = picture.image %}
     <div class="image--5-7" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}"></div>
    {% when '6-4' %}
       6-4
    {% when '7-5' %}
    {% assign image = picture.image %}
    <div class="image--7-5" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}"></div>
  {% endcase %}
</div>
{% endfor %}

</div>
-->
<!-- End Test 03 -->

<!-- Test 04 -->
<!--
<div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2"  style="background-color: green;">

  {% for picture in page.images %}
    <div class="cell align-self-{{picture.align-vertical}}" style="background-color: blue;">

      {% case picture.aspect-ratio %}

        {% when '5-7' %}
        {% assign image = picture.image %}
        <div class="grid-x align-{{picture.align-horizontal}}">
          <div class="cell small-12 {% case picture.size %}{% when 'small' %}medium-6{% when 'medium' %}medium-8{% when 'large' %}medium-10{% when 'full' %}medium-12{% endcase %}" style="background-color: red">
            <div class="image--5-7" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}"></div>
          </div>
        </div>

        {% when '7-5' %}
        {% assign image = picture.image %}
        <div class="grid-x align-{{picture.align-horizontal}}">
          <div class="cell small-12 {% case picture.size %}{% when 'small' %}medium-6{% when 'medium' %}medium-8{% when 'large' %}medium-10{% when 'full' %}medium-12{% endcase %}" style="background-color: red">
            <div class="image--7-5" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}"></div>
          </div>
        </div>

      {% endcase %}

    </div>
  {% endfor %}

</div>
-->
<!-- End Test 04 -->

<!-- Test 05 -->
<div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2" data-equalizer>

  {% for picture in page.images %}
    <div class="cell" data-equalizer-watch>



        <div class="grid-y {% case picture.align-vertical %}{% when 'top' %}align-left{% when 'middle' %}align-center{% when 'bottom' %}align-right{% endcase %}" style="height: 100%;">
          <div class="shrink cell">

            {% assign image = picture.image %}
            <div class="grid-x align-{{picture.align-horizontal}}">
              <div class="cell small-12 {% case picture.size %}{% when 'small' %}medium-6{% when 'medium' %}medium-8{% when 'large' %}medium-10{% when 'full' %}medium-12{% endcase %}">
                {% case picture.aspect-ratio %}
                {% when '5-7' %}     
                <div class="image--5-7" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}"></div>
                {% when '7-5' %}     
                <div class="image--7-5" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}"></div>
                {% endcase %} 
              </div>
            </div>

          </div>
        </div>



    </div>
  {% endfor %}

</div>
<!-- End Test 05 -->