---
layout: default
---

<!-- Images -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2" data-equalizer>
  
    {% for picture in page.images %}
      <div class="cell" data-equalizer-watch>
  
          <div class="grid-y {% case picture.align-vertical %}{% when 'top' %}align-left{% when 'middle' %}align-center{% when 'bottom' %}align-right{% endcase %}" style="height: 100%;">
            <div class="shrink cell">
  
              {% assign image = picture.image %}
              <div class="grid-x align-{{picture.align-horizontal}}">
                <div class="cell small-12 {% case picture.size %}{% when 'small' %}medium-6{% when 'medium' %}medium-8{% when 'large' %}medium-10{% when 'full' %}medium-12{% endcase %}">
                  {% case picture.aspect-ratio %}
                  {% when '5-7' %}     
                  <div class="image--5-7" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}" data-aos="fade-in"></div>
                  {% when '7-5' %}     
                  <div class="image--7-5" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}" data-aos="fade-in"></div>
                  {% endcase %} 
                </div>
              </div>
  
            </div>
          </div>
  
      </div>
    {% endfor %}
  
  </div>
</div>
<!-- End Images -->